body{
    background-color: #faf9f2;
    font-family: "Ubuntu Condensed", serif;
    font-size: 4px;
}

.container {
    margin: 50px auto;
    width: 30%;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

h1{
    color: #2b2b2b;
}

h2{
    color: #2b2b2b;
}

.picture {
    float: right;
    padding-right: 2.5vh;
}


